@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barriecito&family=Concert+One&display=swap');

.adopciones-cards {
    display: flex;
    gap: 60px;
    margin: 30px;
    font-family: 'Nunito', sans-serif;
    color: #384047;
    flex-wrap: wrap;

}

.adopciones-card-info h4 {
    color: indigo;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding-right: 30px ;
}  

.adopciones-card-info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;

}

.empty-message {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgba(132, 0, 255,0.600);
    opacity: 0.8;
    font-family: 'Architects Daughter', cursive;
  }
